<launch>
  <arg
    name  ="hertz"
    default = "5"
  />

  <arg
    name  ="record"
    default = "false"
  />
  
  <node
    name = "subscriberNode"
    pkg = "beginner_tutorials"
    type = "listener"
    output = "screen"
    launch-prefix = "gnome-terminal -e"
  />

  <node
    name = "publisherNode"
    pkg = "beginner_tutorials"
    type = "talker"
    output = "screen" 
    args = "$(arg hertz)"
  />

  <node 
    if = "$(arg record)" 
    name = "record" 
    pkg = "rosbag" 
    type = "record" 
    args = "-a -o $(find beginner_tutorials)/Results/ROSBAG"
  />
</launch>
